* {
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

body {
    background-color: grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.content {
    flex: 1;
    background-color: slateblue;
    display: flex;
}

.header,
.footer {
    font-size: 1.5rem;
}

.footer {
    position: sticky;
    top: 100%;
}

form {
    display: flex;
}

.btn.create {
    width: 50px;
    height: 50px;
    background: none;
}

.btn.create {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.create:before,
.btn.create:after {
    position: absolute;
    content: " ";
    height: 23px;
    width: 2px;
    background-color: black;
}

.btn.create:after {
    transform: rotate(90deg);
}

.active-list {
    font-weight: bold;
}

.project-priority {
    width: 20px;
    height: 20px;
}

[data-priority="-1"] {
    background-color: green;
}
[data-priority="0"] {
    background-color: yellow;
}
[data-priority="1"] {
    background-color: red;
}

#dueDate {
    color: red;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.modal > * {
    margin: 2px;
}

.modal label {
    border-style: none;
}

.modal input {
    margin-bottom: 12px;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    border: none;
    border-radius: 8px;
    padding: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
