* {
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

body {
    background-color: grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.content {
    flex: 1;
    background-color: slateblue;
    display: flex;
}

.header,
.footer {
    font-size: 1.5rem;
}

.footer {
    position: sticky;
    top: 100%;
}

form {
    display: flex;
}

.btn.create {
    width: 50px;
    height: 50px;
    background: none;
}

.btn.create {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.create:before,
.btn.create:after {
    position: absolute;
    content: " ";
    height: 23px;
    width: 2px;
    background-color: black;
}

.btn.create:after {
    transform: rotate(90deg);
}
